/* BACKGROUND AND BODY */
body {
	margin: 0;
	padding: 0;
	background-color: #303853;
	font-family: 'Bree Serif', sans-serif;
	font-size: 1.6em;
	color: white;
	text-align: center;
	background: rgb(48, 56, 83); /* Old browsers */
	background: linear-gradient(to bottom, rgba(48, 56, 83, 1) 0%, rgba(32, 38, 55, 1) 100%);
}

#game-scene {
	width: 100%;
	position: relative;
	z-index: 9;
}

#begin-game,
#replay {
	width: 200px;
	background-color: #645a7e;
	border-radius: 8px;
	color: #fff;
	padding: 20px;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50px;
	z-index: 200;
	cursor: pointer;
	border: none;
	font-family: 'Bree Serif', sans-serif;
	font-size: 30px;
}

#begin-game {
	top: 200px;
}

/* BOARD AND PIECES */
#game-board {
	position: relative;
	width: 320px;
	margin: 0 auto;
	border: 8px solid #212636;
	height: 320px;
	border-radius: 7px;
	z-index: 15;
	box-sizing: border-box;
}

#game-board-underlay {
	position: absolute;
	width: 320px;
	height: 320px;
	box-sizing: border-box;
	margin: 0 auto;
	left: 0;
	right: 0;
	border: 16px solid transparent;
}

#play-area {
	margin: 0 auto;
	width: 320px;
	margin-top: 40px;
	opacity: 0;
}

.score {
	display: flex;
	flex: 1 1 auto;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
}

#game-score {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 7px;
	margin-left: 16px;
	margin-bottom: 16px;
	text-align: center;
	width: 150px;
	padding: 16px 20px;
}

.token {
	color: #fff;
	width: 60px;
	height: 60px;
	font-size: 40px;
	transform-origin: center;
	border-radius: 100%;
	position: absolute;
	top: 0;
	line-height: 55px;
}

.token[val='128'],
.token[val='256'],
.token[val='512'] {
	font-size: 32px;
}

.token[val='1024'],
.token[val='2048'],
.token[val='4096'],
.token[val='8192'] {
	font-size: 24px;
}

.token[val='16384'] {
	font-size: 20px;
}

/* Token colors */
.token[val='2'] {
	background-color: #142f7a;
}
.token[val='4'] {
	background-color: #9bd668;
}
.token[val='8'] {
	background-color: #edcd1a;
}
.token[val='16'] {
	background-color: #c0caf7;
}
.token[val='32'] {
	background-color: #cc396c;
}
.token[val='64'] {
	background-color: #4e6dc2;
}
.token[val='128'] {
	background-color: #70b137;
}
.token[val='256'] {
	background-color: #f5dc4b;
}
.token[val='512'] {
	background-color: #535a76;
}
.token[val='1024'] {
	background-color: #98254d;
}
.token[val='2048'] {
	background-color: #101c3e;
}
.token[val='4096'] {
	background-color: #5a8038;
}
.token[val='8192'] {
	background-color: #a79322;
}

circle {
	stroke-width: 16px;
}

#game-over {
	display: none;
	position: absolute;
	z-index: 100;
	top: 140px;
	left: 0;
	right: 0;
}

/* Pulse animation */
@keyframes pulse {
	0% {
		transform: scale(1.1, 1.1);
	}
	20% {
		transform: scale(1.3, 1.3);
	}
	100% {
		transform: scale(1.1, 1.1);
	}
}

.pulse {
	animation: pulse 0.3s linear 1;
}

.moving.left {
	transition: left 0.3s ease-in-out;
}
